boto3==1.35.99 ; python_version == "3.11"
botocore==1.35.99 ; python_version == "3.11"
cachetools==5.5.2 ; python_version == "3.11"
certifi==2025.8.3 ; python_version == "3.11"
charset-normalizer==3.4.3 ; python_version == "3.11"
colorama==0.4.6 ; python_version == "3.11" and sys_platform == "win32"
coverage==7.11.0 ; python_version == "3.11"
durationpy==0.10 ; python_version == "3.11"
google-auth==2.40.3 ; python_version == "3.11"
idna==3.10 ; python_version == "3.11"
iniconfig==2.1.0 ; python_version == "3.11"
jmespath==1.0.1 ; python_version == "3.11"
kafka-python==2.2.15 ; python_version == "3.11"
kubernetes==33.1.0 ; python_version == "3.11"
oauthlib==3.3.1 ; python_version == "3.11"
packaging==24.2 ; python_version == "3.11"
pluggy==1.6.0 ; python_version == "3.11"
pyasn1-modules==0.4.2 ; python_version == "3.11"
pyasn1==0.6.1 ; python_version == "3.11"
pygments==2.19.2 ; python_version == "3.11"
pytest==8.4.2 ; python_version == "3.11"
python-dateutil==2.9.0.post0 ; python_version == "3.11"
pyyaml==6.0.3 ; python_version == "3.11"
requests-oauthlib==2.0.0 ; python_version == "3.11"
requests==2.32.5 ; python_version == "3.11"
rsa==4.9.1 ; python_version == "3.11"
s3transfer==0.10.4 ; python_version == "3.11"
six==1.17.0 ; python_version == "3.11"
urllib3==2.5.0 ; python_version == "3.11"
websocket-client==1.8.0 ; python_version == "3.11"
